<h1>Public Space</h1>
<img src="https://vignette.wikia.nocookie.net/marvel_dc/images/1/13/Emotional_Electromagnetic_Spectrum_0001.jpg/revision/latest/top-crop/width/360/height/450?cb=20080522063603">

<p>Welcome to the public space!</p>
<a href="/">Go back to the main page!</a><br>
<a href="/private">Check out this top secret page!</a>